{
  "Clips": 0,
  "UnusedClips": 0,
  "Funds": 20.00,
  "Wire": 1000,
  "Margin": 0.25,
  "Demand": 10,
  "UnsoldClips": 0,
  "ClipmakerLevel": 0,
  "ClipperCost": 5.00,
  "MarketingLevel": 1,
  "AdCost": 100,
  "WireCost": 20,
  "WireAmount": 1000,
  "Processors": 1,
  "Memory": 1,
  "Operations": 0,
  "Trust": 2,
  "NextTrust": 1000,
  "Creativity": 0,
  "TotalClipsProduced": 0,
  "MegaClipperLevel": 0,
  "MegaClipperCost": 500
}
